<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="styles/style.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div class="senate-loyalty">
		<div class="container" id="app">
			<div id="senate" class="content-fluid">

				<div class="content1">
					<div class="logo">
						<img class="img-responsive" src="images/flag-united-states.png" alt="logo TGIF" width="400px">
					</div>
					<div class="email">
						<p> &#9993 <a href="mailto:info@tgif.net">info@tgif.net</a> </p>

					</div>


				</div>

				<nav class="navbar navbar-inverse">
					<div class="container-fluid">

						<ul class="nav navbar-nav">
							<li><a href="index.html">Home</a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Congress 113
                 					<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="senate-data.html">Senate</a></li>
									<li><a href="house-data.html">House</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance
                  					<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="senate-attendance.html">Senate</a></li>
									<li><a href="house-attendance.html">House</a></li>
								</ul>
							</li>

							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" id="active" href="#">
                                <span class="categry">Loyalty</span>
                                <span class="activeDrop">Senate</span>
                  				<span class="caret"></span>
                            </a>
								<ul class="dropdown-menu">
									<li><a href="senate-loyalty.html">Senate</a></li>
									<li><a href="house-loyalty.html">House</a></li>
								</ul>
							</li>

						</ul>
					</div>
				</nav>



				<div class="container-fluid">
					<div class="cont1">
						<div class="cont1-12">
							<h2>Party Loyalty</h2>
							<p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda. </p>
						</div>
						<div class="cont1-1">
							<h2 class="left">Senate at a glance</h2>
							<table class="table" id="show-hide">
								<thead>
									<tr>
										<th>Party</th>
										<th>Number of Reps</th>
										<th>% Voted with Prty</th>

									</tr>
								</thead>
								<tbody v-if='results'>
									<tr>
										<td>Republican</td>
										<td>{{statistics.numberRepublicans}}</td>
										<td>{{getAvg(statistics.republicansVotes)}}</td>

									</tr>
									<tr>
										<td>Democrat</td>
										<td>{{statistics.numberDemocrats}}</td>
										<td>{{getAvg(statistics.democratsVotes)}}</td>

									</tr>
									<tr>
										<td>Independent</td>
										<td>{{statistics.numberIndependents}}</td>
										<td>/</td>
									</tr>
									<tr>
										<td>Total</td>
										<td>{{statistics.numberDemocrats + statistics.numberRepublicans + statistics.numberIndependents }}</td>
										<td>/</td>
									</tr>
								</tbody>
							</table>
							<div v-if='!results' class="loadingDiv" class="center-block">
								<img id="#wait" src="images/Spinner-1s-200px.gif">
							</div>
						</div>
					</div>
					<div class="cont2">
						<div class="cont1-1">

							<h2 class="cont1-13">Least Loyal (Bottom 10% of Party)</h2>
							<table class="table" id="least">
								<thead class="center">
									<tr>
										<th>Name</th>
										<th>Number Party Votes</th>
										<th>% Party Votes</th>
									</tr>
								</thead>
								<tbody id="least-loyal">
									<div v-if='loading' class="loadingDiv" class="center-block">
										<img id="#wait" src="images/Spinner-1s-200px.gif">
									</div>
									<tr v-for="member in statistics.leastLoyal">
										<td>
											<a :href="member.url">{{getFullName(member)}}</a>
										</td>
										<td>{{member.total_votes }}</td>
										<td> {{ member.votes_with_party_pct }} %</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="cont1-1">
							<h2 class="cont1-13">Most Loyal (Top 10% of Party)</h2>
							<table class="table" id="most">
								<thead class="center">
									<tr>
										<th>Name</th>
										<th>Number Party Votes</th>
										<th>% Party Votes</th>
									</tr>
								</thead>
								<tbody id="most-loyal">
									<tr v-for="member in statistics.mostLoyal">
										<td>
											<a :href="member.url">{{getFullName(member)}}</a>
										</td>
										<td>{{member.total_votes }}</td>
										<td> {{ member.votes_with_party_pct }} %</td>
									</tr>
									<div v-if='loading' class="loadingDiv" class="center-block">
										<img id="#wait" src="images/Spinner-1s-200px.gif">
									</div>
								</tbody>
							</table>
							<!--                            <a href="#top"><img id="toTop" src="images/backtotop-1.png" alt="back to top"></a>-->
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-footer">
							<p> &copy; 2016 TGIF | All rights reserved</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="scripts/statisticsvue.js"></script>

</body>

</html>